
/* Fonts */
h1, h2, li {
    color: #273043;
    font-family: Raleway-Bold;
}

p {
    color:  #273043;
    font-family: Cabin-Regular;
}

 /* Header */
a {
    color: #273043;
    font-family: Raleway-Bold;
    text-decoration: none;
}

h1 {
    font-size: 37px;
}

#logo {
    width: 100px;
    height: 85px;
    padding: 0;
    margin-left: 0px;
}

.name-logo-container {
    display: flex;
    padding: 15px;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid #EB337F;
    height: 170px;
}

.topnav {
    display: flex;
    padding: 15px;
    list-style: none;
    justify-content: flex-end;
    font-size: 18px;
}

.topnav-item {
    padding: 15px;
}

/* Main */
html, body {
    position: relative;
    min-height: 100%;
}

/* Footer */

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 50px;
}
